body{font-family:Georgia,"Times New Roman",Times,serif;color:#000}h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin-top:8px;font-weight:normal;color:#66512c}.container{width:260px;height:360px;margin-top:10px;background-color:#f7e1b5;border-radius:8px}.center{text-align:center}.task{padding-left:10px}.header{text-align:center;color:#fff;font-size:18px;background-color:tan;border-radius:8px}.doneButton{text-align:center;color:#fff;border-radius:8px;border:none;background-color:#3e8f3e}.doneButton:hover,.doneButton:focus,.delButton:hover,.delButton:focus{color:#2c2c2c}.delButton{text-align:center;color:#fff;border-radius:8px;border:none;background-color:#ac2925}.formText{border-radius:8px;border:none;text-align:center;background-color:#ffebd6}
/*# sourceMappingURL=todo.css.map */
