$border-radius: 8px
$border: none
$text_align: center

@mixin button
  text-align: $text_align
  color: white
  border-radius: $border-radius
  border: $border

body
  font-family: Georgia, "Times New Roman", Times, serif
  color: black

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  margin-top: 8px
  font-weight: normal
  color: #66512c

.container
  width: 260px
  height: 360px
  margin-top: 10px
  background-color: #f7e1b5
  border-radius: $border-radius

.center
  text-align: $text_align

.task
  padding-left: 10px

.header
  text-align: $text_align
  color: white
  font-size: 18px
  background-color: tan
  border-radius: $border-radius

.doneButton
  @include button
  background-color: #3e8f3e

.doneButton:hover,
.doneButton:focus,
.delButton:hover,
.delButton:focus
  color: #2c2c2c

.delButton
  @include button
  background-color: #ac2925

.formText
  border-radius: $border-radius
  border: $border
  text-align: $text_align
  background-color: #ffebd6
